Binaries/
Intermediate/
Saved/
.vs/
DerivedDataCache/
Content/StylizedIsland/
Content/__ExternalActors__/Scenes/
Content/__ExternalActors__/StylizedIsland/
Content/__ExternalObjects__/StylizedIsland/
StylizedMedievalUE5.png